<!-- <h1>Vote for the dates</h1>

<p>
    <%= @event.title  %>
</p>
<%= form_tag("/events/@event.id", :action=>:vote, :method=>:put) do %>
<% @votes.each do |vote| %>
<p>
    <%= hidden_field_tag :event, @event.id %>
</p>
<p>
    <%= label_tag vote.suggestion_date %>
    <%= select_tag vote.suggestion_date, options_for_select({'◎'=>'1', '△'=>'2', '×'=>'3'}) %>
</p>
<% end %>
<p>
    <%= submit_tag("Commit") %>
</p>
<% end %>
 -->


 <h1>Vote for dates</h1>

 <p>
    <%=@event.title%>
</p>
<%= form_for @user do |f| %>
<p>
    <%= f.hidden_field :event, @event.id %>
</p>
<%= f.fields_for @user_suggestions do |user_suggestion| %>
<p>
    <%= user_suggestion.label :tag %>
    <%= user_suggestion.select :tag, options_for_select({' '=>'0', '◎'=>'1', '△'=>'2', '×'=>'3'}) %>
</p>
<% end %>
<p>
    <%= f.submit %>
</p>
<% end %>