<% if flash[:errors] %>
<ul>
    <% flash[:errors].each do |error_line| %>
    <ol>
        <%= error_line %>
    </ol>
    <% end %>
</ul>
<% end %>

<%= form_for [@user, @event] do |f| %>
<p>
    <%= f.label :title %><br>
    <%= f.text_field  :title %>
</p>
<p>
    <%= f.label :price %>
    <a href='https://docs.google.com/document/d/1y0kV64edndOKLhZYa4j9j_y6LfdWyhdxskJ2Od3zg5Y/edit' target="_blank"> 会費について</a><br>
    <%= f.text_field :price %>
</p>

<% User.all.each do |user| %>
<p>
<%= check_box_tag "event[user_ids][]", user.id, @event.users.include?(user), id: "events_user_ids_#{user.id}" %>
<%= label_tag "events[user_ids][#{user.id}]", user.username %>
</p>
<% end %>

<p>
    <%= label_tag "Suggestion Date" %><br>
    <%= text_area_tag "Suggestion_Date", @suggestions, row: 10, size: "60x5" %>
</p>
<!-- <p>
    <%= f.hidden_field :token, value: @token %>
</p>
 --><p>
    <%= f.submit %>
</p>
<% end %>
