<% if flash[:errors] %>
<ul>
    <% flash[:errors].each do |error_line| %>
    <ol>
        <%= error_line %>
    </ol>
    <% end %>
</ul>
<% end %>

<%= form_for @event do |f| %>
<p>
    <%= f.label :title %><br>
    <%= f.text_field  :title %>
</p>
<% User.all.each do |user| %>
<p>
<%= check_box_tag "event[user_ids][]", user.id, @event.users.include?(user), id: "events_user_ids_#{user.id}" %>
<%= label_tag "events[user_ids][#{user.id}]", user.username %>
</p>
<% end %>

<p>
    <%= f.label :held_at %><br>
    <%= f.datetime_field :held_at %>
</p>
<!-- <p>
    <%= f.hidden_field :token, value: @token %>
</p>
 --><p>
    <%= f.submit %>
</p>
<% end %>
