<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% if @determined_events != [] %>
  <h3>Determined</h3>
  <%= render partial: 'table', locals: { events: @determined_events, type: :determined } %>
<% end %>

<h3>Created</h3>
<%= render partial: 'table', locals: { events: @created_events, type: :created } %>

<h3>Invited</h3>
<%= render partial: 'table', locals: { events: @invited_events, type: :invited } %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_event_path(current_user),
            :class => 'btn btn-primary' %>
