<h1>出欠を入力</h1>
<p>
    <%= @event.title %>
</p>

<%= form_for @user do |f| %>
<%= f.fields_for :user_suggestions, @user_suggestions do |user_suggestion| %>
<p>
    <%= user_suggestion.label :tag, user_suggestion.object.suggestion.suggestion_date %>
    <%= user_suggestion.select :tag, options_for_select({' '=>"0", '◎'=>"1", '△'=>"2", '×'=>"3"}, :selected => user_suggestion.object.tag.to_s) %>
</p>
<% end %>
<span>
    <%= f.submit '出欠を入力', :class=> 'btn btn-default' %>
<% end %>

<%= link_to '戻る',
              user_events_path(@user), :class => 'btn btn-default'  %>
</span>
